requests
dotenv
ollama
openai
langchain-ollama
langchain-core
langchain
langchain-community
langgraph
grandalf
contractions
pypdf
rapidocr-onnxruntime #Extract images as text from pdf. Used by pypdf
pydantic
rich
beautifulsoup4 #Required for WebBasedDocumentLoader
sentence-transformers # Required for HuggingFaceEmbedding
chromadb
gradio
open-webui # GUI for Ollama
youtube-transcript-api # To download transcripts of youtube video
llama-index
llama-index-vector-stores-chroma
llama-index-embeddings-huggingface
trafilatura
