requests
dotenv
ollama
openai
langchain-ollama
langchain-core
langchain
langchain-community
langgraph
grandalf
contractions
pypdf
rapidocr-onnxruntime #Extract images as text from pdf. Used by pypdf
pydantic
rich
beautifulsoup4 #Required for WebBasedDocumentLoader
sentence-transformers # Required for HuggingFaceEmbedding
chromadb
gradio
hashlib
open-webui # GUI for Ollama